h1 {
    text-align: center;
}

.fish {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.fish:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.fish__image {
    max-width: 15rem;
    padding-right: 10px;
    object-fit: cover;
}

#fishList {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 20px;
 padding: 10px;
 float: left;
 width: 66%;
}

#tipList {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    float: center;
}

.fish__tips {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding-left: -5px;
}

#locationList {
    width: 66%;
    display: flex;
}

